@import "variables";

a {
  color: $color-white;
  transition: all .2s;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 0 0 30px;
}

.community {
  padding-top: 80px;
  background: $color-primary;
  text-align: center;
  animation-delay: .3s;

  img::before {
    opacity: 0;
  }
}
